### Configuration File for clearpassauth.py

[ClearPass]

# ClearPass FQDN ex: clearpass.arubanetworks.com
clearpass_fqdn =


[OAuth2]

# client_credentials or password
grant_type =

# client_id required for all grant types
client_id =

# required for password and client_credentials
# leave blank for password public client
client_secret =

# username/password only required for password flow
username =
password =